<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crypto-currency</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
        <img src="/images/crypto.png" height="50" class="d-inline-block align-top" alt="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Acheter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sell">Vendre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pricing">Prix</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">Informations <span class="sr-only">(actuellement)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- Container -->
<div class="container">
    <br/>
    <!-- Info/Attention -->
    <div class="alert alert-info" role="alert">
        Projet réalisé pour le cours de math de Mme Warnier au Collège Saint-Augustin
    </div>
        <!-- Card/Main body block -->
        <ul class="list-group list-group-flushp" style="margin-bottom: 8px;">
            <li class="list-group-item">
                <h6>Projet</h6>
                <div class="dropdown-divider"></div>
                <em>New Crypto-currency</em> : Illustration pour un Travail de fin d'études sur les crypto-monnaies en rhéto au collège St-Augustin.<br/><br/>
                L'application simule graphiquement la spéculation autour des crypto-monnaies et montre comment les technologies utilisées se basent sur les mathématiques
            </li>
        </ul>
        <ul class="list-group list-group-flushp" style="margin-bottom: 8px;">
            <li class="list-group-item">
                <h6>Technologies utilisées</h6>
                <div class="dropdown-divider"></div>
                    <b>Front-end</b><br/>
                    - Bootstrap depuis : <a href="https://getbootstrap.com" target="_blank">https://getbootstrap.com</a><br/>
                    - Chart.js depuis : <a href="http://chartjs.org" target="_blank">http://chartjs.org</a><br/>
                    - Généré avec EJS : <a href="http://ejs.co/" target="_blank">http://ejs.co</a><br/><br/>
                    <b>Back-end</b><br/>
                    - Serveur : <a href="https://nodejs.org/fr/" target="_blank">https://nodejs.org/fr/</a><br/>
                    - Express.js : <a href="https://expressjs.com/" target="_blank">https://expressjs.com/</a><br/>
                    - Socket.io : <a href="https://socket.io/" target="_blank">https://socket.io/</a><br/>
            </li>
        </ul>
        <ul class="list-group list-group-flushp" style="margin-bottom: 8px;">
            <li class="list-group-item">
                <h6>Auteurs</h6>
                <div class="dropdown-divider"></div>
                <em>6TE (maths/sciences) :</em> Axel De Sutter - Julien Thaes - Boris Axensalva
            </li>
        </ul>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>